
:root{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

    --munsell: #00c9a7;
    --cambridge-blue: #9DBBAE;
    --vanilla: #b39cd0;
    --pearl: #fbeaff;
    --detail: #ff8066;
    line-height: 1.2;
}

body,
html {
  height: 100%;
  margin: 0;
}

.container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 3fr;
    height: 100%;
}

.icon{
    height:1.3em;
}

.message-container{
    display:grid;
    
    background-color: var(--pearl);
    margin-right:15px;
    gap:15px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px -3px rgb(0,0,0,0.4);
    z-index: 10;

  
}

.profile-container{
    display:grid;
    
    background-color: var(--pearl);
    margin-right:15px

}


.sidebar{
    background-color:var(--munsell);
    grid-column: 1/2;
    grid-row:1/5;
}

.header{
    background-color:var(--pearl);
    grid-column: 2/4;
    grid-row:1/2;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#site-search{
   margin-top:1em;
   margin-bottom:7em;
}
.welcome{
    background-color:var(--pearl);
    grid-column: 2/4;
    grid-row:2/3;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    box-shadow: 0 4px 3px -3px rgb(0,0,0,0.4);
    z-index:5;
}

.projects{
    background-color:var(--vanilla);
    grid-column: 2/3;
    grid-row:3/5;
}

.announcements{
    background-color:var(--vanilla);
    grid-column: 3/4;
    grid-row:3/4;
}

.projects-container{
    display:grid;
    gap:15px;
    margin:10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    
}

.card-container{
    background-color: var(--pearl);
    box-shadow: 0 4px 3px -3px rgb(0,0,0,0.4);
    z-index:6;
    border-left: solid;
    border-left-width: 6px;
    border-left-color: var(--detail);
    padding:5px;
    border-radius:5px;
}

.card-title{
    margin-left:5px;
    font-size: 24px;
}

.card-text{
    margin:5px;
    width: 175px;
    height: 175px;
    overflow:hidden;
}

.icon-container{
    display:flex;
    justify-content: end;
    margin-right:30px;
    gap:30px;
    margin-top:20px;
}

.icon:hover{
    cursor:pointer;
}

.trending{
    background-color:var(--vanilla);
    grid-column: 3/4;
    grid-row:4/5;
}

.trending-profile{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

ul{
    list-style-type: none;
}

li{
    display:flex;
    gap:5px;
}

.message{
    margin-left:25px;
    margin-right:25px;
    text-overflow: ellipsis;
}
.message-text{
    width:250px;
    height:60px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.middle{
    border-top:1px solid rgb(0,0,0,0.4);
    border-bottom:1px solid rgb(0,0,0,0.4);
    padding-top:5px;
    padding-bottom:5px;
}