
:root{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

    --munsell: #00c9a7;
    --cambridge-blue: #9DBBAE;
    --vanilla: #b39cd0;
    --pearl: #fbeaff;
}

body,
html {
  height: 100%;
  margin: 0;
}

.container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 3fr;
    height: 100%;
}


.sidebar{
    background-color:var(--munsell);
    grid-column: 1/2;
    grid-row:1/5;
}

.header{
    background-color:var(--pearl);
    grid-column: 2/4;
    grid-row:1/2;
}

.welcome{
    background-color:var(--pearl);
    grid-column: 2/4;
    grid-row:2/3;
}

.projects{
    background-color:var(--vanilla);
    grid-column: 2/3;
    grid-row:3/5;
}

.announcements{
    background-color:var(--vanilla);
    grid-column: 3/4;
    grid-row:3/4;
}

.trending{
    background-color:var(--vanilla);
    grid-column: 3/4;
    grid-row:4/5;
}